.form-label {
  background-color: white !important;
}

.contactpage {
  display: flex;
  flex-direction: column;
  width: 75%;
  min-height: 90%;
  margin: auto;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: rgba(37, 194, 160, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 20px;
}
